body {
    background-color: aquamarine;
}

.headline {
    background-color: bisque;
}

.body {
    background-color: goldenrod;
}

.body_copy {
  background-color: blueviolet;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sidebar {
  background-color: blueviolet;
  display: inline-grid;
  grid-template-columns: auto auto;
  }

  .grid-item {
    background-color: crimson;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    height: 30%;
    width: 30%;
  }

  img {

  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  
  }
  
  .sidenav a:hover{
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }