body {
    background-color: aquamarine;
}

.body {
    background-color: goldenrod;
}

.body_copy {
  background-color: blueviolet;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar {
  background-color: red;
  margin-top: -10px;
  margin-bottom: -10px;
  padding-bottom: -10px;
}

.siteName {
  background-color: chartreuse;
  border: 1px solid black;
}

ul {
  background-color: blanchedalmond;
  list-style-type: none;
  position: absolute;
  right: 0;
  border: 1px solid black;
}

li {
  display:inline-block;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.plotsButton {
  display: inline-block;
}

.dropDownPlots {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.plotsButton:hover .dropDownPlots {display: block;}

.plotsButton:hover p {color: red;}

.sidebar {
  background-color: blueviolet;
  right: 0;
  display: inline-grid;
  grid-template-columns: auto auto;
  padding-top: 100px;
}

.grid-item {
    background-color: crimson;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    height: 30%;
    width: 30%;
}

  img {
    object-fit: contain;
}
  
  